.banner {
    position: relative;
    box-sizing: border-box;
}
.banner-image {
    width: 100%;
    height: 192px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url(../img/banner-desk.jpeg);
    background-position: center;
    background-size: cover;
}
.banner-elements {
    color: #FFFFFF;
    position: absolute;
    padding-top: 78px;
    padding-bottom: 16px;
}
.banner-tittle {
    width: 100%;
    height: 26px;
    font-weight: 700;
    font-size: 22px;
    margin: 0 0 8px 0;
    line-height: 26px;
}
.banner-paragraph {
    width: 328px;
    height: 16px;
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 8px 0;
    line-height: 16px;
}
.console-button {
    text-decoration: none;
    padding: 11px 0;
    box-sizing: border-box;
    width: 119px;
    height: 40px;
    background-color: #2A7AE4;
    display: block;
    text-align: center;
    
}

.console-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    line-height: 16px;
}
@media screen and (min-width: 768px) {
    .banner-image {
        height: 352px;
        padding: 32px;
    }
    .banner-elements {
        height: 159px;
        bottom: 32px;
        padding-bottom: 0;
    }
    .banner-tittle {
        height: 61px;
        font-size: 52px;
        line-height: 61px;
        margin-bottom: 16px;
    }
    .banner-paragraph {
        width: 704px;
        height: 26px;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 16px;
    }
    .console-button {
        padding: 12px 16px;
    }
}
@media screen and (min-width: 1440px) {
    .banner-elements {
        width: 1136px;
        height: 170px;
    }
    .banner-tittle {
        height: 61px;
        width: 751px;
    }
    .banner-paragraph {
        width: 751px;
    }
    .console-button {
        width: 130px;
        height: 51px;
        padding: 16px;
        top: 119px;
        margin: 16px 0px;
    }
    .console-text {
        width: 98px;
        height: 19px;
        top: 16px;
        left: 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }
}