.banner {
    position: relative;
}
.banner-image {
    width: 100%;
    height: 192px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url(../img/banner-desk.jpeg);
    background-position: center;
    background-size: cover;
}
.container {
    padding-left: 16px;
    padding-right: 16px;
}
.banner-elements {
    color: #FFFFFF;
    position: absolute;
    top: 78px;
    width: 100%;
    padding-bottom: 16px;
}
.banner-tittle {
    width: 328px;
    height: 26px;
    font-weight: 700;
    font-size: 22px;
    margin: 0 0 8px 0;
    line-height: 26px;
}
.banner-paragraph {
    width: 328px;
    height: 16px;
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 8px 0;
    line-height: 16px;
}
.console-button {
    text-decoration: none;
    padding: 11px 0;
    box-sizing: border-box;
    width: 119px;
    height: 40px;
    background-color: #2A7AE4;
    display: block;
    text-align: center;
    
}

.console-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    line-height: 16px;
}