.footer {
    display: flex;
    background-color: #EAF2FD;
    height: 553px;
    width: 360px;
    top: 2028px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    color: #464646;
}
.logo-footer {
    width: 176px;
    height: 50px;
    left: 76px;
    margin: 16px 0px;
}
.footer-li {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    width: 328px;
    height: 19px;
    top: 35px;
    margin: 16px 0px;
}
.form {

}
.talkUs {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    width: 328px;
    height: 19px;
    margin: 8px 0px;
}
.inputandtext {
    width: 328px;
    border-radius: 4px;
    background-color: #FFFFFF;
    margin: 8px 0px;
    gap: 4px;
    border-style: hidden;

}
.nome {
    height: 56px;
    display: block;
    background-color: #FFFFFF;
    margin: 8px 0px;
    width: 328px;
    border-radius: 4px;
    border-style: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #A2A2A2;
    padding: 8px 12px;
    box-sizing: border-box;
}
.input-footer {
    display: block;
    border: none;
    outline: none;
}
#textarea {
    height: 82px;
    color: #A2A2A2;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 16px 12px;
    box-sizing: border-box;
    font-family: "raleway", sans-serif;
}
.footer-button {
    flex-direction: row;
    justify-content: center;
    width: 151px;
    height: 40px;
    top: 189px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    margin: 8px 0px;
    background-color: #2A7AE4;
    border-style: none;
    color: #FFFFFF;
    font-weight: 600;
}
.footer-end {
    width: 360px;
    height: 102px;
    background-color: #FFFFFF;
}
.footer-text {
    
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    padding: 32px 63px 32px 63px;
    
}
@media screen and (min-width: 768px) {
    .footer {
        flex-direction: row;
        width: 100%;
        height: 364px;
        padding: 32px;
        top: 1498px;
        justify-content: center;
        align-items:flex-start
    }
    .logo-footer {
        margin: 16px 0px;
        width: 176px;
        height: 50px;
    }
    .conteudo {
        align-items: flex-start;
        width: 254px;
        height: 300px;
        margin: 0px 16px;
    }
    .footer-li {
        text-align: start;
        margin: 24px 0px;
    }
    .talkUs {
        width: 434px;
    }
    .nome {
        
    }
    .footer-end {
        top: 1862px;
        width: 768px;
    }
    .footer-text {
        height: 38px;
        left: 276px;
        top: 32px;
        margin: 0px 10px;
        flex: none;
    }
    .secao {
        width: 434px;
        height: 229px;
        left: 270px;
        margin: 0px 16px;
    }
}