.header-container {
    display: flex;
    height: 72px;
    position: relative;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}
.header-conf {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 665px;

}
.search-desk {
    display: none;
}

.logo {
    width: 100px;
    height: 28px;
    margin-right: 35px;
}

.login-link {
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid #2A7AE4;
    width: 133px;
    height: 40px;
    display: none;
    padding: 11px;
}

.header-conf .login-link {
    display: block;
}

.login-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #2A7AE4;
    text-align: center;
}

.search {
    background: transparent;
    border: none;
    background-image: url(../img/lupa.svg);
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    position: absolute;
    right: 20px;
}
@media screen and (min-width: 768px) {
    .header-container {
        width: 100%;
        box-sizing: border-box;
    }
    .search {
        display: none;
    }
    .search-desk {
        display: block;
        width: 272px;
        height: 40px;
        border-radius: 20px;
        border: none;
        background-color: #F5F5F5;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #A2A2A2;
        padding: 3px 16px;

    }
    .login-link {
        width: 166px;
        height: 40px;
        display: block;

    }
    .header-conf .login-link {
        display: none;
    }

}
@media screen and (min-width: 1440px) {
    .header-container {
        width: 100%;
        height: 115px;
    }
    .logo {
        width: 176px;
        height: 50px;
        margin-right: 32px;
        align-items: center;
    }
    .search-desk {
        width: 393px;
    }
}