.flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-sizing: border-box;
}
.section-title {
    padding-top: 16px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 16px;
    color: #464646;
}
.seeAll {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    display: block;
    text-decoration: none;
    color: #2A7AE4;

}
.products {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
    justify-content: space-between;

}
.product-img {
    width: 156px;
    height: 174px;
   
}
.product-tittle {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    margin-bottom: 8px;
    width: 156px;
    height: 16px;
    top: 182px;
}
.product-price {
    width: 156px;
    height: 19px;
    top: 206px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    margin-bottom: 8px;
}
.seeProduct {
    height: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #2A7AE4;
    text-decoration: none;
    margin-bottom: 8px;
    display: block;
    width: 80px;
}
.specialProduct {
    display: none;
}
@media screen and (min-width: 768px) {
    .seeAll {
        width: 66px;
        height: 19px;
        top: 2.5px;
        font-size: 16px;
        line-height: 19px;
    }
    .product-img {
        width: 164px;
        margin: 8px 0px;
    }
    .product-tittle {
        width: 164px;
        height: 16px;
    }
    .product-price {
        width: 164px;
    }
    .seeProduct {
        width: 91px;
        height: 19px;
        font-size: 16px;
        line-height: 19px;
    }
}
@media screen and (min-width: 1440px) {
    .tittle-starWars{
        width: 148px;
        height: 38px;
        font-size: 32px;
        line-height: 38px;
    }
    .product-img {
        width: 176px;
    }
    .product-tittle {
        width: 176px
    }
    .product-price {
        width: 176px
    }
    .tittle-consoles {
        width: 142px;
        height: 38px;
        font-size: 32px;
        line-height: 38px;
    }
    .specialProduct {
        display: block;
    }
}