.login-section {
    background-color: #E5E5E5;
    padding: 97px 40px 76px 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 16px;
    color: #464646;
}

.email {
    padding: 8px 12px 13px;
}

.password {
    padding: 16px 12px 5px;
}

.input::placeholder {
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    color: #A2A2A2;
}

.input {
    border-style: none;
    margin-bottom: 16px;
    width: 275px;
    border-radius: 4px;
    background-color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #A2A2A2;
}

.login-button {
    width: 109px;
    padding: 12px 16px;
    background-color: #2A7AE4;
    font-family: 'Raleway', sans-serif;
    border-style: none;
    font-weight: 600;
    line-height: 16px;
    color: #FFFFFF;
}
.error-info {
    display: none;
    margin-bottom: 10px;
    align-items: center;


}
.error-img {
    width: 15px;
    margin-right: 4px;
}
.error-msg {
    font-size: 14px;
}

@media screen and (min-width: 1440px) {
    .section-title {
        font-size: 18px;
        line-height: 21px;
    }

    .input {
        width: 400px;
    }

    .email {
        padding: 18px 12px 24px;
    }

    .password {
        padding: 16px 12px 27px;
    }

    .login-button {
        width: 423px;
        height: 62px;
        font-size: 18px;
        line-height: 21px;
    }
}